.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.done-true {
    text-decoration: line-through;
    color: #ddd;
}
.form-control[disabled], .form-control[readonly], .fieldset[disabled], .form-control {
    cursor: pointer;
    background-color: white;
}
/* Custom Programarte */
.borde-gris{
  border:1px solid rgba(0,0,0,0.4);
}
.altura-a-pantalla{
  height: 100vh;
}
.mensaje-usuarios{
  height: 89%;
}
.contenedor-slider{
  height: 55%;
}
.contenedor-cajitas{
  margin-top: 1%;
  height: 32%;
  padding: 0px;
}
.cajita-item{
  height: 100%;
}
.footer-rotativo{
  margin-top: 1%;
  height: 8%;
}
